<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Username' %>
    <%= form.text_field :name, id: :tweet_name, required: true %>
  </div>
  <div class="form-group">
    <%= form.label :key %>
    <%= form.text_field :key, id: :tweet_key, required: true %>
  </div>
  <div class="form-group">
    <%= form.label :secret %>
    <%= form.text_field :secret, id: :tweet_secret, required: true %>
  </div>
  <div class="form-group">
    <%= form.label :token %>
    <%= form.text_field :token, id: :tweet_token, required: true %>
  </div>
  <div class="form-group">
    <%= form.label :token_secret %>
    <%= form.text_field :token_secret, id: :tweet_token_secret, required: true %>
  </div>
  <hr align="left" width=30% />
  <div class="form-group">
    <%= form.label 'Proxy' %>
    <%= form.text_field :host, id: :tweet_host, required: false %>
  </div>
  <div class="form-group">
    <%= form.label :port %>
    <%= form.text_field :port, id: :tweet_port, required: false %>
  </div>
  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, id: :tweet_username, required: false %>
  </div>
  <div class="form-group">
    <%= form.label :password %>
    <%= form.text_field :password, id: :tweet_password, required: false %>
  </div>
  <div class="actions">
    <%= form.submit :Submit, class: 'btn btn-outline-primary my-3 ml-3' %>
  </div>
<% end %>
