<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Username' %>
    <%= form.text_field :name, id: :tweet_name %>
  </div>
  <div class="form-group">
    <%= form.label :key %>
    <%= form.text_field :key, id: :tweet_key %>
  </div>
  <div class="form-group">
    <%= form.label :secret %>
    <%= form.text_field :secret, id: :tweet_secret %>
  </div>
  <div class="form-group">
    <%= form.label :token %>
    <%= form.text_field :token, id: :tweet_token %>
  </div>
  <div class="form-group">
    <%= form.label :token_secret %>
    <%= form.text_field :token_secret, id: :tweet_token_secret %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


