<div id="wrapper">
   <div id="sidebar-wrapper">
      <% if user_signed_in? %>
      <div class="form-group">
         <div class="alert alert-light" role="alert">
         <span>Hi, <%= current_user.email %></span>
         <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
         <% end %>
      </div>
         <%= image_tag current_user.gravatar_url, :class => "gravatar" %>
         <h3>Twitter Toolkit onRails</h3>
         <table>
            <thead>
               <tr>
                  <th>Username</th>
                  <th colspan="3"></th>
               </tr>
            </thead>
            <tbody>
               <% current_user.tweet.each do |tweet| %>
               <tr>
                  <td><%= tweet.name %></td>
                  <td><%= link_to 'Show', tweet %></td>
                  <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
                  <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <br>
         <div class="new_tweet">
            <a href="<%= new_tweet_path %>" class="btn btn-success" role="button">New Access Tokens Block</a>
         </div>
         <form method="get" id="twitsform" action="javascript:void(null);" onsubmit="call()">
            <label for="Twitter account">Twitter account</label>
            <select class="form-control" id="select" name="select">
               <% current_user.tweet.each do |tweets| %>
               <option value="<%= tweets.name %>"><%= tweets.name %></option>
               <% end %>
            </select>
      </div>
      <div class="form-group"> 
      <label for="Action">Action</label>
      <select class="form-control" id="select_action" name="select_action">
      <option value="follow">Follow</option>
      <option value="unfollow">Unfollow</option>
      <option value="retweeting">Retweet</option>
      <option value="posting">Posting</option>
      <option value="parsering">Tweet Parser</option>
      <option value="acc-parsering">Account Parser</option>
      <option value="follow-hands">Manual Following</option>
      </select>
      <input type="text" class="form-control" id="Input" name="tag" style="display: none; margin-top:1em;">
      <button id="btnSubmit" type="submit" class="btn btn-default" style="margin-top:1em;">Go ahead</button>
      </div>
   </div>
   <!-- Page Content -->
   <div id="page-content-wrapper">
   <div class="container-fluid">
   <button href="#menu-toggle" class="btn btn-default" id="menu-toggle" style="margin-top:-3em;">Toggle Panel</a></button>
   <textarea type="text" class="form-control" id="Textarea" name="tag1" style="display: none; margin-top:10em;"></textarea>
   </form>
   </div>
   </div>
   <!-- /#page-content-wrapper -->
</div>
<script src="/js/ajax.js"></script>
<script src="/js/input.js"></script>
<!-- Menu Toggle Script -->
<script>
   $("#menu-toggle").click(function(e) {
       e.preventDefault();
       $("#wrapper").toggleClass("toggled");
   });
</script>
