<div id="wrapper">
   <div id="sidebar-wrapper">
      <% if user_signed_in? %>
         <div class="form-group">
            <div class="alert alert-link" role="alert"> Hi,
               <%= current_user.email %>
                  <%= link_to 'Log Off', destroy_user_session_path, :method => :delete %>
                     <% end %>
            </div>
            <%= image_tag current_user.gravatar_url, :class => "gravatar" %>
               <table class="nicknames my-3">
                  <tbody>
                     <% current_user.tweet.each do |tweet| %>
                        <tr>
                           <td>
                              <%= tweet.name %>
                           </td>
                           <td>
                              <%= link_to 'Show', tweet, class: "btn btn-light" %>
                           </td>
                           <td>
                              <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-light" %>
                           </td>
                           <td>
                              <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light" %>
                           </td>
                        </tr>
                        <% end %>
                  </tbody>
               </table>
               <br>
               <div class="new_tweet"> <a href="<%= new_tweet_path %>" class="btn btn-outline-primary" role="button">New Access Tokens Block</a></div>
               <form method="get" id="twitsform" action="javascript:void(null);" onsubmit="call()">
                  <%= label_tag 'Accounts', nil, class: 'small' %>
                     <%= select_tag "select", options_for_select(current_user.tweet.map { |u| u.name }), {:class=>'form-control'} %>
                        <%= label_tag 'Actions', nil, class: 'small mt-3' %>
                           <%= select_tag "select_action", options_for_select([
            ['Follow', 'follow'],
            ['Find Accounts to Follow', 'find_accounts_to_follow'],
            ['Use List to Follow', 'use-list-to-follow'],
            ['Manual Following', 'follow-hands'],
            ['Unfollow', 'unfollow'],
            ['Retweet', 'retweeting'],
            ['Likes', 'likes'],
            ['Posting', 'posting'],
            ['Tweet Parser', 'parsering'],
            ['Account Parser', 'acc-parsering']
            ]), {:class=>'form-control'} %>
                              <input type="text" class="form-control" id="Input" name="tag" style="display: none; margin-top:1em;">
                                 <%= button_tag "Go ahead", { id: "btnSubmit", class: "btn btn-outline-danger mt-4" } %>
         </div>
   </div>
   <!-- Page Content -->
   <div id="flash-message">
      <%= render 'shared/flash' %>
   </div>
   <div id="page-content-wrapper">
      <div class="container-fluid">
         <textarea type="text" class="form-control" id="Textarea" name="tag1" style="display: none; margin-top:10em;"></textarea>
         </form>
      </div>
   </div>
   <!-- /#page-content-wrapper -->
</div>
<%= javascript_pack_tag 'ajax' %>
<script src="/js/input.js"></script>